<!DOCTYPE html>
<html>

<header>
    <title>Results
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/lstm.ico">
        <a href="/home">Back to file upload</a>
</header>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}

        <div class="card-group">
            <div class="card">
                <img src="{{ user_image }}" class="card-img-top" alt="Raw photo of lesion">
                <div class="card-body">
                <h5 class="card-title">Original photo</h5>
                <p class="card-text">Raw image of the skin lesion</p>
                <p class="card-text"></p>
              </div>
            </div>
            <div class="card">
                <img src="{{ processed_image }}" class="card-img-top" alt="Processed photo of lesion">
                <div class="card-body">
                  <h5 class="card-title">Processed photo</h5>
                  <p class="card-text">This is the photo of the lesion that the CNN based its prediction on</p>
                  <p class="card-text"></p>
                </div>
              </div>
          </div>
    </div>
    <br>
    <br>
    <div class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">The CNN's prediction is:</h5>
          <p class="card-text">{{input|safe}}</p>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
</body>

</html>