<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        #main_element{
          margin-top: 10%;
        }
    </style>
<title>Upload</title>
</head>
<body>
    <div id="main_element" class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">Melanoma classification</h5>
          <p class="card-text">ide írni kell valamit</p>
          <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.file }}
            <br>
            <input class="btn btn-primary" type="submit">
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>

</form>
</body>
</html>